* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background: url("https://i.pinimg.com/originals/49/8f/6a/498f6a60c1c0847048040df14870c54e.jpg") no-repeat center center / cover;
    height: 100vh;
    position: relative;
    user-select: none;
}

img {
    width: 100%;
    transition: 0.3s;
}

img:hover {
    filter: drop-shadow(0 0 10px #fff);
    transition: 0.3s;
}

#score_img {
    width: 15px;
}

.hav {
    position: absolute;
    top: 50%;
    width: 100px;
    cursor: pointer;
    animation: hav 20s linear infinite;
}

.dzu {
    width: 15px;
    position: absolute;
    transition: 1s;
    cursor: pointer;
}

.dashboard {
    background: #0008;
    width: 200px;
    padding: 20px;
    color: #fff;
    font-family: sans-serif;
}

.pos {
    display: flex;
    justify-content: space-between;
}

@keyframes hav {

    0%,
    100% {
        right: 0;
        transform: rotateY(0);
    }

    50% {
        right: 80%;
        transform: rotateY(0);
    }

    51%,
    99% {
        transform: rotateY(180deg);
    }
}